body{
text-align:center;
background-color: #37E784;
}

input {
    
margin: 5px;
padding: 5px;
     
font-size: 16px;
     
border-width: 4px;
     
border-color: #8a8a8a;
     
background-color: #FFFFFF;
     
color: #000000;
     
border-style: solid;
     
border-radius: 11px;
     
box-shadow: -10px 0px 5px rgba(66,66,66,.70);
     
text-shadow: 0px 0px 0px rgba(0,0,0,100);

}
 

input:focus {
     
outline:none;
}
