body{
    margin: 0;
    padding: 0;
    background: url(pic2.jpg);
    background-size: cover;
    background-position: center;
    font-family:monospace;
}

.loginpage{
    width: 350px;
    height: 520px;
    background: #8BD8BD;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    resize: vertical;
    width: 160px;
    height: 140px;
    border-radius: 50%;
    margin: -150px 0px 40px 65px;
    left: calc(50% - 50%px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.loginpage p{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 26px;
    font-weight: bold;
}

.loginpage input{
    width: 100%;
    margin-bottom: 20px;
}

.loginpage input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: crimson;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.loginpage input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #EE4423;
    color: #fff;
    font-size: 19px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.loginpage input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginpage a{
    text-decoration: none;
    font-size: 20px;
    line-height: 1.3;
    color: blueviolet;
}

.loginpage a:hover{
    color: #EB2188;
}


/* 
 .form input[type="submit"]:active{
    border: none;
    outline: none;
    background: #EE4423;
    color: #fff;
    font-size: 25px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 45px;
}

.form .message{
    text-decoration: none;
    font-size: 20px;
    line-height: 1.3;
}

.form .message a{
    color: blueviolet;
}

.form .message a:hover{
    color: #EB2188;
}

.form .registerform{
    display: none;
}
*/